<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Tease and Denial Videos only - The largest collection of Tease and Denial Videos, Ckips and Short Movies on the Web.">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78539272-1', 'auto');
  ga('send', 'pageview');

</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    <!-- Navigation -->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--    <div class="container">-->
            <!-- Brand and toggle get grouped for better mobile display -->
    <!--        <div class="navbar-header">-->
    <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
    <!--                <span class="sr-only">Toggle navigation</span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--            </button>-->
    <!--            <a class="navbar-brand" href="#">Start Bootstrap</a>-->
    <!--        </div>-->
            <!-- Collect the nav links, forms, and other content for toggling -->
    <!--        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
    <!--            <ul class="nav navbar-nav">-->
    <!--                <li>-->
    <!--                    <a href="#">About</a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="#">Services</a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="#">Contact</a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
            <!-- /.navbar-collapse -->
    <!--    </div>-->
        <!-- /.container -->
    <!--</nav>-->

    <!-- Page Content -->
    
<body>
    <div class="container">

        <div class="row">

            <!--<div class="col-md-3">-->
            <!--    <p class="lead">Shop Name</p>-->
            <!--    <div class="list-group">-->
            <!--        <a href="#" class="list-group-item">Category 1</a>-->
            <!--        <a href="#" class="list-group-item">Category 2</a>-->
            <!--        <a href="#" class="list-group-item">Category 3</a>-->
            <!--    </div>-->
            <!--</div>-->

            <div class="col-md-12">

               
                  <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                <div><%= paginate @weins ,:window => 2 %></div>
                </ul>
            </div>
        </div>
        
                     <% @weins.each do |products| %>
                      <a href=<%= products.source_link %>>
                          <%end%>

             <% @weins.each_slice(4) do |products| %>
                <div class="row">
                      <% products.each do |product| %>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <a href=<%= product.source_link %> title="<%= product.name %>">
                        <div class="thumbnail">
                            <%= image_tag(product.image_url, class: 'list_image', size: '260x260', alt: product.name) %>
                            <div class="caption">
                             <!--<h4 class="pull-right">$24.99</h4>-->
                                <p> <%= product.name %>
                                <p>
                                </a>
                                <div class="time"><p><%= product.prod_title %></p></div>
                                
                                
                            </div>
                       
                        </div>
                    </div>
                <%end%>
                  </div>
                    <%end%>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <p>TeaseandDenials.com has a zero-tolerance policy against illegal pornography. All models on this website are 18 years or older. 

Disclaimer: TeaseandDenials.com is a search engine for adult related videos, it only searches for movies found on porn tube sites. 
All the content is added by our crawlers, thumbnails are only linked to the corresponding tube site. The indexing process is completely automated. 

We do not own, produce, host or upload any videos displayed on this website, we only link to them. So if you find any content which should be removed, please contact the corresponding tube site. 
Parents protect your children from adult content with these services: Cyber Patrol, Net Nanny, Cyber Sitter.

Copyright © 2016 TeaseandDenials.com - The Porn Tube Search. All rights reserved.</p>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
     <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                <div><%= paginate @weins %></div>
                </ul>
            </div>
        </div>
</body>


</html>
